{% include 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}


{% block content %}
<div class="config-box">
  {% comment %} 
  <input type="" name="nums" id="numsList">
  <input type="" name="speed" id="speendList">
  <input type="" name="isAscending" id="isAscending">
  {% endcomment %}
  <form action="">
    <select name="numbers" id="numSelect">
      <option value="3">3개</option>
      <option value="5">5개</option>
      <option value="10" selected>10개</option>
      <option value="50">50개</option>
    </select>
    <select name="speed" id="speedSelect">
      <option value="1">매우빠름</option>
      <option value="30" selected>빠름</option>
      <option value="150">보통</option>
      <option value="300">느림</option>
      <option value="1000">매우 느림</option>
    </select>
    <select name="isAscending" id="isAscendingSelect">
      <option value="0" selected>오름차순</option>
      <option value="1">내림차순</option>
    </select>
  </form>
</div>

<div class="config-show"></div>
<div class="graph-box"></div>

<div class="button-box">
  <div>
    <p>그래프 생성</p>
    <button type="button" id="randomCreate">Randomly Create</button>
  </div>
  <div>
    <p>비교 정렬</p>
    <button type="button" id="bubbleSort">Bubble Sort</button>
    <button type="button" id="insertionSort">Insertion Sort</button>
    <button type="button" id="selectionSort">Selection Sort</button>
  </div>
  <div hidden>
    <p>분할 정복 정렬</p>
    <button type="button" id="mergeSort">Merge Sort</button>
    <button type="button" id="heapSort">Heap Sort</button>
    <button type="button" id="quickSort">Quick Sort</button>
    <button type="button" id="treeSort">Tree Sort</button>
  </div>
</div>

<script src="{% static 'sort.js' %}"></script>
{% endblock content %}